<div class="container">

	<h1>Worries</h1>
	 <% @worries.each do | worry| %>
	 
		<a href= "/worries/<%= worry['id'] %>"><p class="card"><%= worry.current_worry %></p></a>
		<p>Priority: <%= worry.priority %> </p>
		<p>Reflection: <%= worry.reflection %></p>
	<% end %>

</div>