<div class="container">
  <p>
    <strong><h3><%= @worry.current_worry %></h3></strong>
  </p>

  <p>
    <%= @worry.priority %>
  </p>
 
  <p>
    <%= @worry.reflection %>
  </p>

  <%= link_to 'Delete', worry_path(@worry),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
</div>