<!DOCTYPE html>
<html>
  <head>
    <title>WorryBoxApp</title>
   <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <ul id="nav">
      <li><a href="/welcome/index">Home</a></li>
      <li><a href="/worries">Current Worries</a></li>
      <li><a href="worries/new">Add Worry</a></li>
    </ul>
  </body>
</html>
